
body { text-align: center;}

header { background-color: grey; }
header h1 { font-size: 28px; padding: 25px;}

/*-------------------------------------
| game board
-------------------------------------*/

#enter-name .form-group { width: 50%; margin: 20px auto;}

#gameboard {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

#gameboard .board { width: 30%;}

.board h2 { margin-bottom: 10px;}
.board .panel {
  width: 100%;
  height: 250px;
  border: solid 1px grey;
}

/*-------------------------------------
| chat
-------------------------------------*/

#chat h2 { margin: 10px auto;}
#chat .chat-box {
  width: 50%;
  margin: 20px auto;
  text-align: left;
  border: solid 1px grey;
}

.chat-box .list-group-item { padding: 3px 15px; border: none;}

#chat .chat-input {
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.input-group .form-control { width: 100%;}
.chat-input .btn { padding: 6px 25px;}

/*-------------------------------------
| control
-------------------------------------*/

#control {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

#control .hand {
  margin: 10px;
  background-color: grey;
  padding: 20px;
}

